# Environments
.env
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases & storage
*.db
*.sqlite
*.sqlite3
chroma_data/
data/

# IDE files
.vscode/
.idea/
*.swp
